[Unit]
Description=D-Star Gateway Service
# Description=Place this file in /lib/systemd/system
# Description=N4IRS 01/17/2020

#After=netcheck.service
#Requires=netcheck.service

[Service]
Type=simple
Restart=always
RestartSec=3
StandardOutput=null
# WorkingDirectory=
#ExecStartPre = /bin/sh -c 'echo "Starting ircDDBGateway: [`date +%%T.%%3N`]" >> /var/log/netcheck'
ExecStartPre=/bin/sh -c 'until ping -c1 noip.com; do sleep 1; done;'
ExecStart=/usr/bin/ircddbgatewayd -logdir:/var/log/ircddbgateway
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target

# Usage: ircddbgatewayd [-nolog] [-debug] [-daemon] [-logdir <str>] [-confdir <str>] [Gateway Name]

