[Unit]
Description=P25 Parrot Service
# Description=Place this file in /lib/systemd/system
# Description=N4IRS 04/20/2018


[Service]
User=root
Type=simple
Restart=always
RestartSec=3
StandardOutput=null
WorkingDirectory=/opt/P25Parrot
ExecStartPre=/bin/sh -c 'until ping -c1 noip.com; do sleep 1; done;'
ExecStart=/opt/P25Parrot/P25Parrot 42011


[Install]
WantedBy=multi-user.target
